@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://use.typekit.net/mrk2ktz.css');
@import url(//db.onlinewebfonts.com/c/dc837e3e77ba498839fc214eace1c25e?family=VogaW00-Regular);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

$body-font-family: 'Quicksand', sans-serif !default;
$header-font: 'league-gothic', sans-serif !default;
$logo-header-font: 'VogaW00-Regular', sans-serif !default;
$logo-label-font: 'Montserrat', sans-serif;
